/* DropdownNavBar */
.dropdown-menu {
  /* width: 100%; */
  width: 50%;
  height: 170px;
  margin-top: 1rem;
  border-radius: 20px;
  border: 0.5px solid var(--colorBorderPink);
  opacity: 0;
  visibility: hidden;
  background: var(--mainColorPink);
  box-shadow: var(--boxShadowDropDownMenuPink);
  display: none;
  padding-bottom: 2rem;
  z-index: 1000;

  /* transition: box-shadow ease-in-out 0.2s; */
}

.title-dropdrow {
  display: flex;
  padding: 1rem;
  align-items: center;
  /* color: var(--colorWhite); */
}

.title-dropdrow span.icon-settings {
  display: flex;
}

.title-dropdrow span.title-settings {
  color: var(--colorWhite);
  font-weight: 700;
  padding-left: 0.2rem;
}

/* Theme checkbox */
.ball {
  background-color: var(--colorWhite);
  border-radius: 50%;
  left: -1.5px;
  position: absolute;
  transform: translateX(0px);
  transition: transform 0.2s linear;
  height: 24px;
  width: 24px;
  z-index: 4;
  border: 2px solid var(--mainColorGreen);
}

.ball:hover {
  outline: 2px solid var(--mainColorGreen);
}

.label.controls-dropdown .ball-on {
  font-size: 0.7rem;
  color: var(--colorWhite);
}

.label.controls-dropdown .ball-off {
  font-size: 0.7rem;
  padding-right: 1.5px;
  color: var(--colorWhite);
}

.label {
  background-color: var(--mainColorGreen);
  border-radius: 50px;
  border: 2px solid var(--colorWhite);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 25px;
  width: 52px;
  margin-top: 10px;
}

.label.controls-dropdown {
  background-color: var(--mainColorPink);
  border: 2px solid var(--mainColorGreen);
  box-shadow: var(--boxShadowLabelControlPink);
}

input[type="checkbox"] {
  display: none;
}

.button-header-player.active {
  background: var(--mainColorGreen);
}

.checkbox:checked + .label .ball {
  transform: translateX(26px);
}

.checkbox:checked + .label .ball.controls {
  border: 2px solid var(--mainColorGreen);
}

nav.dropdown-active + .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 2.5rem;
  height: auto;
  display: initial;
  transition: ease-in 0.3s;
}

nav.dropdown-active .menu-icon .line-1 {
  margin-top: 0px;
  transform: rotateZ(45deg);
  transition: ease-in 0.3s;
}

.line-1-list {
  margin-top: 0px;
  transform: rotateZ(45deg);
  transition: ease-in 0.3s;
}

.line-2-list {
  margin-top: -12px;
  transform: rotateZ(-45deg);
  transition: ease-in 0.3s;
}

nav.dropdown-active .menu-icon .line-2 {
  margin-top: -12px;
  transform: rotateZ(-45deg);
  transition: ease-in 0.3s;
}

.itens-menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -37px;
  padding-top: 1rem;
}

.itens-menu li {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  border-right: 1px solid var(--colorWhite);
}
.icons-social-medias {
  display: flex;
  justify-content: space-between;
}
.icons-social-medias li {
  margin: 0.5rem 0.5rem;
  width: 35px;
  height: 35px;
  border: 2px solid var(--colorWhite);
  border-radius: 50%;
  background: var(--backgroundButtonPink);
  box-shadow: var(--boxShadowIconsSocialMediaPink);
  transform: all 0.3s ease;
  cursor: pointer;
}

.icons-social-medias li svg {
  scale: 2;
  height: 10px;
}

.button-tiktok.active,
.button-instagram.active,
.button-youtube.active {
  box-shadow: var(--boxShadowButtonsMediasSocialPink);
  background: var(--mainColorGreen);
  border: 2px solid var(--colorBorderPink);
  scale: 1.2;
}

.button-tiktok:hover,
.button-instagram:hover,
.button-youtube:hover {
  border: 2px solid var(--mainColorGreen);
  transition: ease-in 0.4s;
}

li.label-controls {
  border: 0;
}

.itens-menu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itens-menu span {
  color: var(--colorWhite);
}

li.label-li {
  box-shadow: none;
  word-wrap: break-word;
}



.label.controls-dropdown-lables {
  margin: 0px;
  
}
