.green-theme {
  background-color: var(--mainColorGreen);
}

.green-theme .main-content {
  box-shadow: var(--boxShadowDropDownMenuGreen);
  border: 0.5px solid var(--colorBorderGreen);
  background: var(--mainColorGreen);
}

.green-theme .main-content-list {
  box-shadow: var(--boxShadowDropDownMenuGreen);
  border: 0.5px solid var(--colorBorderGreen);
  background: var(--mainColorGreen);
}

.green-theme .wrapper-list {
  box-shadow: var(--boxShadowDropDownMenuGreen);
  border: 0.5px solid var(--colorBorderGreen);
  background: var(--mainColorGreen);
}

.green-theme .button-header {
  border: 2px solid var(--mainColorPink);
  background: var(--mainColorGreen);
  box-shadow: var(--boxShadowButtonHeaderGreen);
}

.green-theme .button-header:active {
  box-shadow: 15px 15px 45px #96a100, -15px -15px 45px #cad900;
}

.green-theme .label {
  background-color: var(--mainColorPink);
}

.green-theme .buttonsControl {
  border: 3px solid var(--mainColorPink);
  border-radius: 145px;
  background: linear-gradient(145deg, #bcca00, #9eaa00);
  box-shadow: 16px 16px 32px #96a100, -16px -16px 32px #cad900;
}

.green-theme .buttonsControl:active {
    box-shadow: 15px 15px 45px #96a100, -15px -15px 45px #cad900;
}

.green-theme .img-area {
  box-shadow: 14px 14px 28px #96a100, -14px -14px 28px #cad900;
}

.green-theme .label.controls-dropdown {
  box-shadow: 6px 6px 12px #96a100, -6px -6px 12px #cad900;
  border: 2px solid var(--mainColorPink);
}

.green-theme .dropdown-menu {
  box-shadow: -3px 0px 12px #96a100, -6px -6px 12px #cad900;
  border: 0.5px solid var(--colorBorderGreen);
  background: var(--mainColorGreen);
}
.green-theme .label.controls {
  background-color: var(--mainColorGreen);
  border: 2px solid var(--mainColorPink);
  box-shadow: var(--boxShadowLabelControlGreen);
}

.green-theme .ball {
  border: 2px solid var(--mainColorPink);
}

.green-theme .checkbox:checked + .label .ball.controls {
  border: 2px solid var(--mainColorPink);
}
.green-theme .ball:hover {
  outline: 2px solid var(--mainColorPink);
}

.green-theme .menu-icon:hover .line-1 {
  background: var(--mainColorPink);
}

.green-theme .menu-icon:hover .line-2 {
  background: var(--mainColorPink);
}

.green-theme .button-header-player.active {
  background: var(--mainColorPink);
}

.green-theme .icons-social-medias li {
  background: var(--mainColorGreen);
  box-shadow: var(--boxShadowIconsSocialMediaGreen);
  border: 2px solid var(--colorWhite);
}

.green-theme .button-tiktok:hover,
.green-theme .button-instagram:hover,
.green-theme .button-youtube:hover {
  border: 2px solid var(--mainColorPink);
  transition: ease-in 0.4s;
}



.green-theme .itens-menu li.button-tiktok.active,
  .green-theme .itens-menu li.button-instagram.active,
  .green-theme .itens-menu li.button-youtube.active {
    box-shadow: var(--boxShadowButtonsMediasSocialGreen);
    background: var(--mainColorPink);
    border: 2px solid var(--mainColorGreen);
  }

.green-theme .button-header-player {
  border: 2px solid var(--colorBorderGreen);
  background-color: var(--mainColorGreen);
  box-shadow: 15px 15px 30px #96a100, -15px -15px 30px #cad900;
}

.green-theme .list-all-songs li {
  box-shadow: 14px 14px 28px #96a100, -14px -14px 28px #cad900;
  
  border: 4px solid var(--mainColorGreen);
}

.green-theme .bt-delete {
  border: 3px solid var(--mainColorPink);
  box-shadow: 14px 14px 28px #96a100, -14px -14px 28px #cad900;
}

.green-theme .bt-play {
  border: 3px solid var(--mainColorPink);
  box-shadow: 14px 14px 28px #96a100, -14px -14px 28px #cad900;
}

.green-theme .button-new-video{
      background-color: var(--mainColorGreen);
          border: 3px solid var(--mainColorPink);
          box-shadow:  14px 14px 28px #96a100,
             -14px -14px 28px #cad900;
}

.green-theme .new-file-content {
  box-shadow:  14px 14px 28px #96a100,
             -14px -14px 28px #cad900;
}

.green-theme .bt-send {
  background: var(--mainColorPink);
  box-shadow:  14px 14px 28px #96a100,
             -14px -14px 28px #cad900;
}

.green-theme .content-inputs-form input {
  background: var(--mainColorGreen);
  box-shadow:  10px 8px 28px #96a100,
             -10px -8px 28px #cad900;
}

.green-theme label.custom-file-upload {
  background: var(--mainColorGreen);
  box-shadow:  10px 8px 28px #96a100,
             -10px -8px 28px #cad900;
}