.content-img-cover {
  display: flex;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.content-img-cover img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--colorWhite);
}

.content-list-all-song {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list-all-songs {
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 665px;
}

.list-all-songs::-webkit-scrollbar {
  background-color: transparent;
}

.button-new-video {
  display: flex;
  width: 180px;
  color: var(--colorWhite);
  padding: 0.5rem;
  background-color: var(--mainColorPink);
  border: 3px solid var(--mainColorGreen);
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  box-shadow: 14px 14px 28px #c11ac4, -14px -14px 28px #ff23ff;
}

.button-new-video:hover {
  background-color: var(--mainColorGreen);
  border: 3px solid var(--mainColorPink);
  color: var(--colorWhite);
}

.list-all-songs li {
  display: flex;
  height: auto;
  flex-direction: row;
  border: 4px solid var(--mainColorPink);
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  box-shadow: 14px 14px 28px #c11ac4, -8px -6px 28px #ff23ff;
}

.content-title h1,
h2 {
  display: flex;
  font-size: 0.9rem;
  color: var(--colorWhite);
}

label.custom-file-upload {
  display: flex;
  width: 100%;
  color: var(--colorWhite);
  padding: 0.5rem;
  margin-top: 1rem;
  border: 2px solid var(--colorWhite);
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  background: var(--mainColorPink);
  box-shadow: 10px 8px 28px #c11ac4, -10px -8px 28px #ff23ff;
}

.bt-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 3px solid #b0bd00;
  border-radius: 50%;
  background: transparent;
  box-shadow: 16px 16px 32px #c11ac4, -16px -16px 32px #ff23ff;
  transform: all 0.3s ease;
  cursor: pointer;
}

.bt-delete:hover {
  background: var(--mainColorGreen);
}

.new-file-content {
  width: 90%;
  display: none;
  height: auto;
  flex-direction: column;
  border: 2px solid var(--borderColorPink);
  border-radius: 5%;
  padding: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  box-shadow: 14px 14px 28px #c11ac4, -14px -14px 28px #ff23ff;
  transition: all 0.2s ease;
}

.content-inputs-form {
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: column;
}

.title-new-video h1 {
  font-size: 1rem;
  text-align: left;
  color: var(--colorWhite);
  padding-bottom: 1rem;
}

.content-inputs-form input {
  display: flex;
  width: 100%;
  color: var(--colorWhite);
  padding: 0.5rem;
  margin-top: 1rem;
  border: 2px solid var(--colorWhite);
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  background: var(--mainColorPink);
  box-shadow: 10px 8px 28px #c11ac4, -10px -8px 28px #ff23ff;
}
.content-inputs-form input::placeholder {
  color: var(--colorWhite);
  user-select: none;
}

.bt-send {
  display: flex;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  color: var(--colorWhite);
  padding: 0.5rem;
  background-color: var(--mainColorGreen);
  border: 3px solid var(--mainColorPink);
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  box-shadow: 14px 14px 28px #c11ac4, -14px -14px 28px #ff23ff;
}

.bt-send:hover {
  background: var(--colorWhite);
  color: #ff23ff;
}

.inputFiles[type="file"] {
  display: flex;
  width: 100%;
  border: 0px;
  background: none;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  height: 0;
}

.custom-file-upload {
  font-weight: 400;
  color: var(--colorWhite);
  margin: 1rem 0 0 0;
  text-align: left;
  font-size: 1rem;
}

.new-file-content.active {
  display: flex;
}

.inputFiles[type="file"]::file-selector-button {
  display: flex;
  width: 100%;
  border: none;
  background: var(--mainColorPink);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--colorWhite);
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.inputFiles[type="file"]::file-selector-button:hover {
  background: var(--mainColorGreen);
}

.list-all-songs.list-none {
  display: none;
}

.video-names {
  display: flex;
  width: 0;
  height: 0;
}

.song-active .content-bt-delete .bt-delete {
  border: 3px solid var(--colorWhite);
}

.song-active .content-bt-delete .bt-delete:hover {
  background: var(--mainColorGreen);
  border: 0;
}


.content-button-new-video {
  display: flex;
  justify-content:flex-start;
  padding: 1rem;

}
