.label-media-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shorts-top,
.instagram-top,
.tiktok-top {
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 8px 20px 0px 20px;
  border-radius: 50px;
  /* border: 2px solid white; */
  margin-top: -39rem;
  /* margin-top: 2rem; */
  /* box-shadow: var(--boxShadowButtonHeaderPink); */
}

.shorts-top.active {
  display: flex;
}

.shorts-top {
  display: none;
}

.tiktok-top {
  display: none;
}

.tiktok-top.active {
  display: flex;
}

.instagram-top {
  display: none;
}

.instagram-top.active {
  display: flex;
}

.social-name {
  color: white;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.label-controls.off {
  display: none;
}

.viral-name {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0px 0 10px 0;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 590px;
  max-width: 380px;
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 3rem;
  margin: 2rem;
  border: 4px solid var(--colorBorderPink);
  background: var(--mainColorPink);
  box-shadow: 14px 14px 28px #c11ac4, -14px -14px 28px #ff23ff;

  z-index: 100;
}

.icon-labels {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.main-content-list {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 380px;
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 3rem;
  border: 4px solid var(--colorBorderPink);
  background: var(--mainColorPink);
  box-shadow: 14px 14px 28px #c11ac4, -14px -14px 28px #ff23ff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.wrapper-play {
  padding-top: 1rem;
}

.wrapper-list {
  display: none;
  width: 50%;
  height: 590px;
  max-width: 310px;
  border-radius: 20px;
  padding: 1rem;

  margin-left: -25px;
  background: #e31ee6;
  box-shadow: 8px 8px 16px #740f75, 1px 6px 16px #ff2dff;
  opacity: 0;
  visibility: hidden;
  transition: cubic-bezier(0, 0, 0.3, 0.89) 2s;
}

.header-play,
.song-timer,
.controls-play {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-header-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--colorBorderPink);
  border-radius: 50%;
  background: var(--colorBorderPink);
  box-shadow: 16px 16px 32px #c11ac4, -16px -16px 32px #ff23ff;
  transform: all 0.3s ease;
}

.button-header-player:hover {
  background: linear-gradient(284deg, #bcca00, #9eaa00);
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-details .name {
  color: white;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.video-hidden {
  opacity: 1;
  visibility: hidden;
}

.song-details .artist {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0px 0 10px 0;
}

.wrapper-list.list-active {
  display: flex;
  opacity: 1;
  visibility: visible;
  -webkit-transition: cubic-bezier(0, 0, 0.3, 0.89) 2s;
  transition: cubic-bezier(0, 0, 0.3, 0.89) 2s;
}

.main-content-list.list-songs-active {
  display: flex;
  opacity: 1;
  visibility: visible;
  -webkit-transition: cubic-bezier(0, 0, 0.3, 0.89) 2s;
  transition: cubic-bezier(0, 0, 0.3, 0.89) 2s;
}

.player {
  margin-top: 0rem;
}

.img-area {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 20rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  box-shadow: 14px 14px 28px #c11ac4, -14px -14px 28px #ff23ff;
}

.img-cover {
  width: 18.5rem;
  height: 18.5rem;
  margin-top: 0.8rem;
  object-fit: cover;
  border-radius: 50%;
}

#visualiser {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: auto;
  position: absolute;
  /* object-fit: cover; */
  margin-top: -51px;
}

.progress-area {
  display: flex;
}

.audioC {
  margin: 30px 0px 30px 0px;
}

.song-timer {
  margin-bottom: 20px;
  display: none;
}

.song-timer span {
  font-size: 10px;
  color: white;
  font-weight: 800;
}

.progress-area {
  height: 8px;
  width: 100%;
  margin-top: 15px;
  border-radius: 50px;
  cursor: pointer;
  background: #b0bd00;
  box-shadow: inset 3px -1px 9px 0px #5a6000, inset -16px -16px 32px #ffff00;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: #ff24ff;
}

.progress-bar::before {
  content: "";
  position: absolute;
  background-color: #e31ee6;
  box-shadow: 1px 1px 9px 0px #f0dcf0, inset -10px -10px 20px #ff2dff;
  border-radius: 50%;
  top: 2px;
  right: -15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.progress-bar::after {
  content: "";
  position: absolute;
  background-color: white;
  box-shadow: 10px 10px 20px #740f75, -10px -10px 20px #ff2dff;
  border-radius: 50%;
  top: 2px;
  right: -5px;
  z-index: 2;
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.controls {
  margin: 100px 8px 5px 8px;
  display: flex;
  justify-content: space-around;
}

.buttonsControl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 3px solid var(--mainColorGreen);
  border-radius: 50%;
  background: linear-gradient(145deg, #f320f6, #cc1bcf);
  box-shadow: 16px 16px 32px #c11ac4, -16px -16px 32px #ff23ff;
  transform: all 0.3s ease;
}

.buttonsControl.play-pause:active {
  background: #e31ee6;
}

.button-header:active {
  box-shadow: 15px 15px 45px #8d138f, -15px -15px 45px #ff29ff;
}

.button-header-player {
  box-shadow: 15px 15px 45px #8d138f, -15px -15px 45px #ff29ff;
}

.buttonsControl:active {
  box-shadow: 15px 15px 45px #8d138f, -15px -15px 45px #ff29ff;
}

.rotate {
  animation: rotation 8s infinite linear;
  transform-origin: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.controls.off {
  display: none;
}

.progress-area.off {
  display: none;
}

#visualiser.off {
  display: none;
}

/* .checkbox:checked + .label .ball {
  transform: translateX(20px);
  background-color: #b0bd00;
} */

video::-webkit-media-controls {
  display: none;
}


